In [1]:
7/4

1.75

In [2]:
50%5

0

In [3]:
23 %2

1

In [4]:
2**8

256

In [5]:
my_dogs = 0
my_fish = 100

In [6]:
type(my_fish)

int

In [7]:
a= 10

In [10]:
a = a+a

In [11]:
print(a)

40

In [12]:
sen ="i don't do that"

In [13]:
print(sen)

i don't do that

In [14]:
print (sen + " anymore")

i don't do that anymore

In [19]:
print (sen+" anymore")

i don't do that anymore

In [26]:
k ="""this is another  sentence """

In [27]:
print(k)

this is another  sentence

In [28]:
len(k)

26

In [31]:
mystring = "abcdefgh"

In [32]:
mystring[:3]

'abc'

In [33]:
mystring[2:]

'cdefgh'

In [34]:
mystring[3:6]

'def'

In [35]:
mystring[::2]

'aceg'

In [36]:
name ="Samyak"

In [37]:
name[0]

'S'

In [40]:
full_name = name + "Luitel"

In [45]:
print(full_name*10)

SamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitelSamyakLuitel

In [46]:
x ="hello world"

In [47]:
x.split()

['hello', 'world']

In [49]:
name = input("enter your name")

enter your nameSamyak

In [50]:
print("Hello "+ name)

Hello Samyak

In [51]:
print("this is a string {}".format("INSERTED"))

this is a string INSERTED

In [53]:
print ("the {2} {1} {0}".format("fox" ,"brown" ,"quick"))

the quick brown fox

In [55]:
print("the  {f} {f} {f}".format(f= "fox", b="brown",q ="quick"))

the  fox fox fox

In [56]:
#float formatting

In [57]:
result = 100/777

In [58]:
result

0.1287001287001287

In [65]:
print ("the result was {r:1.5f}".format(r = result))

the result was 0.12870

In [66]:
name ="Jose"

In [67]:
print("hello his name is {}".format(name))

hello his name is Jose

In [68]:
print(f"hello his name is {name}")

hello his name is Jose

In [69]:
name = "Sam"
age = 3

In [70]:
print (f"{name} is {age} years old")

Sam is 3 years old

In [71]:
print ("{}")

{}

In [72]:
my_list =["string", 100,23.2]

In [75]:
other_list=["this os otheer list"]

In [76]:
my_list + other_list

['string', 100, 23.2, 'this os otheer list']

In [78]:
print("upper".upper())

UPPER

In [79]:
new_list =[ 1,2,3,4,5,6,7,8]

In [83]:
new_list.pop(0)

1

In [84]:
new_list

[2, 3, 4, 5, 6, 7]

In [85]:
alpha=["a","g","c", "b","f","d","e"]

In [87]:
alpha.sort()

In [88]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [89]:
alpha.append("h")

In [90]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [92]:
alpha.reverse()

In [93]:
alpha

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [98]:
week = {"1":"Sunday", "2":"Monday"}

In [100]:
week["1"]

'Sunday'

In [107]:
my_dict = {'key1':'value1','key2':"value2","k3":{"insidekey":"v4"},"k5":["a","b","c"]}

In [108]:
my_dict["key1"]

'value1'

In [109]:
my_dict["k3"]

{'insidekey': 'v4'}

In [110]:
my_dict["k3"]["insidekey"]

'v4'

In [114]:
my_dict["k5"][2].upper()

'C'

In [115]:
my_dict["key1"]="new value"

In [116]:
my_dict

{'key1': 'new value',
 'key2': 'value2',
 'k3': {'insidekey': 'v4'},
 'k5': ['a', 'b', 'c']}

In [117]:
#tuples 
# tupples are imutable

In [118]:
t =(1,2,3)

In [119]:
l =[1,2,3]

In [120]:
type(t)

tuple

In [121]:
type(l)

list

In [122]:
t[0]

1

In [123]:
t[-1]

3

In [124]:
tup =("a",'b',"a")

In [125]:
tup.count("a")

2

In [126]:
tup.index("b")

1

In [127]:
l[0] ="New"

In [128]:
l

['New', 2, 3]

In [ ]:
#sets
#sets are unorderd collection of objects

In [130]:
my_set =set()

In [131]:
my_set.add(1)

In [132]:
my_set

{1}

In [134]:
my_set.add(2)
my_set

{1, 2}

In [135]:
my_set.add(1)

In [136]:
my_set.add(2)
my_set

{1, 2}

In [137]:
li=[1,1,1,1,2,2,3,2,2,1]

In [138]:
set(li)

{1, 2, 3}

In [139]:
#boolens

In [140]:
type(True)

bool

In [178]:
%%writefile myfile.txt
hello this is a  text file
this is the second line
this is thr third line

Overwriting myfile.txt

In [142]:
myfile = open("myfile.txt")

In [143]:
myfile= open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [144]:
pwd

'/home/samyak'

In [145]:
myfile = open("myfile.txt")

In [146]:
myfile.read()

'hello this is a  text file\nthis is the second line\nthis is thr third line\n'

In [147]:
myfile.read()

''

In [148]:
myfile.seek(0)

0

In [149]:
myfile.read()

'hello this is a  text file\nthis is the second line\nthis is thr third line\n'

In [150]:
myfile.seek(0)

0

In [151]:
content = myfile.read()

In [152]:
content

'hello this is a  text file\nthis is the second line\nthis is thr third line\n'

In [153]:
myfile.seek(0)

0

In [154]:
myfile.readlines()

['hello this is a  text file\n',
 'this is the second line\n',
 'this is thr third line\n']

In [163]:
book = open("/home/samyak/Desktop/b.txt")

In [160]:
pwd

'/home/samyak'

In [164]:
book.read()

'this is the thing undersatand\n'

In [165]:
book.close()

In [168]:
with open("myfile.txt") as my_new_file: 
    contentss = my_new_file.read()

In [169]:
contentss

'hello this is a  text file\nthis is the second line\nthis is thr third line\n'

In [170]:
 with open('myfile.txt', mode = "r") as myfile:
        contents = myfile.read ()

In [172]:
%%writefile newfile.txt
this is another texr file that i am writing
this is just for the purpose of learning the material that  i have got
jose is awesome
i am gonna doit in a week got it 
sleep well
rest sell
exercise and learn

Writing newfile.txt

In [175]:
%%writefile filehandling.txt
mode ="r" is read only
mode ="w" is write only (eill overwrite files or create new !)
mode = "a" is append only(will add on to files)
mode = "r+" is reading and writing 
mode ="w+ " is writing and reading (Overwirts existing files or creates a new file!)

Overwriting filehandling.txt

In [176]:
 with open('newfile.txt', mode='r') as f:
        print(f.read())

this is another texr file that i am writing
this is just for the purpose of learning the material that  i have got
jose is awesome
i am gonna doit in a week got it
sleep well
rest sell
exercise and learn

In [179]:
with open('myfile.txt',mode = "a") as n:
    n.write("\n this is new line")

In [180]:
  with open('myfile.txt', mode ="r") as n:
        print(n.read())

hello this is a  text file
this is the second line
this is thr third line

 this is new line

In [181]:
 with open("f.txt",mode ="w") as d:
        d.write("I created this file")

In [182]:
with open("f.txt", mode ="r")as d:
    print(d.read())

I created this file

In [195]:
#control flow

In [196]:
hungry =True
if hungry:
    print("grap a sneaker")
else:
    print(";p")

grap a sneaker

In [199]:
lss =[(1,2),(3,4),(5,6),(7,8)]

In [201]:
for a,b in lss:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [202]:
x= 0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [205]:
x=[1,2,3]
for item in x:
    pass